
{% if include.clear_before == 'yes' %}
<div class="clearfix"></div>
{% endif %}

<figure class="sidebyside" style="width: {{ include.width }}; float: {{include.float}}; margin: {{include.margin}}; {{include.misc_style}}">
  <a href="{{ include.filename }}">
      <!-- if a collection for this page is existing, there must be thumbs named file-th.jpg-->
      {% if page.collection %}
      <img src="{{ include.filename | replace: '.jpg','-th.jpg' | replace: '.png','-th.png' }}"
        alt="{{ include.alt_text }}"/>
      {% else %}
      <img src="{{ include.filename }}" 
        alt="{{ include.alt_text }}"/>
      {% endif %}
  </a>
  <figcaption style="margin-bottom: 12px;">{{ include.caption }}</figcaption>
</figure>

{% if include.clear == 'yes' %}
<div class="clearfix"></div>
{% endif %}
