---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date clearfix">
    <span class="left-part">
        Article published {{ page.published | date: "%b %-d, %Y" }}
      {% if page.last_modified_at %}
        and last updated {{ page.last_modified_at | date: "%b %-d, %Y" }}.
      {% endif %}
      {% unless page.published ==  nil %}
      Project time around {{ page.date | date: "%B %Y" }}.
      {% endunless %}
    </span>
    <span class="right-part">
      <a href="#top">jump to top</a><a name="bottom"/a> 
    </span>
  </div>

  {% include disqus.html %}
</article>
